<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2018 - 2019 Galleon.com. All rights reserved</p>
      </div>
      <div class="col-md-6 text-right">
        <span class="support-24">7*24 Customer Support:</span>
        <a href="#" class="sns-twitter">Twitter</a>
        <a href="#" class="sns-facebook">Facebook</a>
        <a href="#" class="sns-weixin">Weixin</a>
        <a href="#" class="sns-qq">QQ</a>
        <a href="#" class="sns-weibo">Weibo</a>
      </div>
    </div>
  </div>
</footer>