html, body{height:100%;color:#6f6f69;}
.flex-box{
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-box.vertical{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-box.horizontal{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-box>.flex-content{
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.g-background{
  height:100%;
  background-image: url(../images/home/background.jpg);
  background-position: 50% 50%;
  background-size: cover;
}
.disable{
  display: inline-block;
  padding-left:20px;
  background-image: url(../images/profile/disabled.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: auto 70%;
}
.form-control{
  background-color:#fafafa;
  box-shadow: none;
}
.panel-body{
  padding:25px;
}
.btn-primary {
  background-color: #2e96f0;
  border-color: #2e96f0;
}
.form-switch{
  cursor:pointer;
  position:relative;
  width:22px;
  height:12px;
  border:1px solid #DFDFDF;
  outline:0;
  border-radius:6px;
  box-sizing:border-box;
  background-color:#DFDFDF;
  -webkit-transition:background-color 0.1s, border 0.1s;
  transition:background-color 0.1s, border 0.1s;
  -webkit-appearance:none;
          appearance:none;
}
.form-switch:before{
  content:" ";
  position:absolute;
  top:0;
  left:0;
  width:20px;
  height:10px;
  border-radius:5px;
  background-color:#FDFDFD;
  -webkit-transition:-webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
  transition:-webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
  transition:transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
  transition:transform 0.35s cubic-bezier(0.45, 1, 0.4, 1), -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
}
.form-switch:after{
  content:" ";
  position:absolute;
  top:0;
  left:0;
  width:10px;
  height:10px;
  border-radius:5px;
  background-color:#FFFFFF;
  box-shadow:0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition:-webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
  transition:-webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
  transition:transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
  transition:transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35), -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
}
.form-switch:checked{
  border-color:#2e96f0;
  background-color:#2e96f0;
}
.form-switch:checked:before{
  -webkit-transform:scale(0);
          transform:scale(0);
}
.form-switch:checked:after{
  -webkit-transform:translateX(10px);
          transform:translateX(10px);
}
header{
  height:80px;
  padding:13px 0;
  background-color:#092031;
}
header .text-right{padding-top:17px;}
header .text-right a{
  margin-left:30px;
  color:#FFF;
}
header .text-right a:hover{
  color:#2e96f0;
}
footer{
  height:36px;
  color:#FFF;
  line-height:19px;
  padding-top:8px;
  background-color:#092031;
}
footer p{margin:0;}
footer .support-24{
  display: inline-block;
  height:19px;
  overflow:hidden;
  padding-top:2px;
}
footer a.sns-twitter,
footer a.sns-facebook,
footer a.sns-weixin,
footer a.sns-qq,
footer a.sns-weibo{
  display: inline-block;
  width:23px;
  height:19px;
  color:rgba(255, 255, 255, 0);
  margin-left:15px;
  overflow:hidden;
  text-indent: 999px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size:auto 70%;
}
footer a.sns-twitter{background-image: url(../images/home/sns_twitter.png);}
footer a.sns-facebook{background-image: url(../images/home/sns_facebook.png);}
footer a.sns-weixin{background-image: url(../images/home/sns_weixin.png);}
footer a.sns-qq{background-image: url(../images/home/sns_qq.png);}
footer a.sns-weibo{background-image: url(../images/home/sns_weibo.png);}
.mask-fixed{
  position:fixed;
  z-index:998;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:rgba(0, 0, 0, 0.6);
  display:table;
  width:100%;
  height:100%;
}
.mask-fixed .mask-content{
  display:table-cell;
  vertical-align: middle;
}
.secure-url{
  color:#a1a2a2;
  padding-top:144px;
  padding-bottom:20px;
  text-align:center;
  background-image: url(../images/home/logo-simple.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.secure-lock{
  padding-left:12px;
  background-image: url(../images/home/lock.png);
  background-position: 0 2px;
  background-repeat: no-repeat;
}
.profile{
  background-color:#f6f6f6;
}
.profile header a.menu-orders,
.profile header a.menu-funds,
.profile header a.menu-account,
.profile header a.menu-logout{
  display: inline-block;
  padding-left:20px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size:auto 70%;
}
.profile header a.menu-orders{background-image: url(../images/menu/orders.png);}
.profile header a.menu-funds{background-image: url(../images/menu/funds.png);}
.profile header a.menu-account{background-image: url(../images/menu/account.png);}
.profile header a.menu-logout{background-image: url(../images/menu/logout.png);}
.profile header a.menu-language{
  position:relative;
}
.profile header a.menu-language:after{
  position:absolute;
  top:6px;
  right:-16px;
  content:"";
  display:block;
  width:0;
  height:0;
  overflow:hidden;
  border-style:dashed solid solid solid;
  border-width:6px 6px 0;
  border-color:#FFF transparent transparent transparent;
}
.profile header a.menu-language:hover:after{
  border-color:#2e96f0 transparent transparent transparent;
}
.profile-head{
  color:#6f6f69;
  margin-top:16px;
  margin-bottom:16px;
  background-color:#fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.profile-head-item{
  position:relative;
  padding-left:130px;
  margin-top:30px;
  margin-bottom:30px;
}
.profile-head-item:before{
  position:absolute;
  content:"";
  display:block;
  width:0;
  top:0;
  bottom:0;
  left:0;
  border-left:solid 1px #dbdbdb;
}
.profile-head > :first-child .profile-head-item:before{display:none;}
.profile-head-item > div {
  margin-top:8px;
  margin-bottom:8px;
}
.profile-head-item > div strong{
  font-size:18px;
}
.profile-head-item > div small{
  font-size:14px;
  padding-left:8px;
}
.profile-head-item.estimated{}
.profile-head-item.available strong{color:#4ac26e;}
.profile-head-item.inorders strong{color:#ef6351;}
.profile-sidebar{
  margin-right:16px;
  width:200px;
}
.profile-sidebar .sidebar-list{
  background-color:#fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.profile-sidebar .sidebar-list a{
  display:block;
  text-align:center;
  padding:20px 0;
  color:#6f6f69;
  text-decoration: none;
}
.profile-sidebar .sidebar-list a.current,
.profile-sidebar .sidebar-list a:hover{
  color:#FFF;
  background-color: #2e96f0;
}
.profile-content{
  min-height:200px;
  background-color:#fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}